<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="MSSQLConnectionString" providerName="System.Data.SqlClient"
         connectionString="Data Source=.\MSSQLSERVER_2014;Initial Catalog=flighttrack-db;Integrated Security=False;Persist Security Info=True;User ID=gapilot;Password=naishpark.size.11"/>
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <customErrors mode="Off"/> 
    </system.web>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
